In [10]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into a Dataframe

In [11]:
csv_file = "./Resources/licenses_data.csv"
licenses_data_df = pd.read_csv(csv_file)
licenses_data_df.head()

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,DOING BUSINESS AS NAME,ADDRESS,CITY,STATE,ZIP CODE,...,LICENSE NUMBER,APPLICATION TYPE,APPLICATION REQUIREMENTS COMPLETE,PAYMENT DATE,CONDITIONAL APPROVAL,LICENSE TERM START DATE,LICENSE TERM EXPIRATION DATE,LICENSE APPROVED FOR ISSUANCE,DATE ISSUED,LICENSE STATUS
0,2488875-20190116,2635860,409881,1,THE PISOLINO CORPORATION,PISOLINO,2755 W BELMONT AVE 1,CHICAGO,IL,60618,...,2488875,RENEW,11/15/18,12/30/18,N,1/16/19,2/15/21,12/30/18,12/31/18,AAI
1,2641783-20181231,2641783,357055,3,"D.C. MAD HATTER, INC.","D.C. MAD HATTER, INC.",1200 W 35TH ST 5TH 5400,CHICAGO,IL,60609,...,2641783,C_LOC,12/31/18,12/31/18,N,12/31/18,2/15/21,12/31/18,12/31/18,AAI
2,1819083-20181116,2624618,316764,1,DENMAX CORP.,DENMAX CORP.,2702 W CHICAGO AVE 1ST,CHICAGO,IL,60622,...,1819083,RENEW,9/15/18,12/28/18,N,11/16/18,2/15/21,12/28/18,12/31/18,AAI
3,2205845-20180616,2591692,218232,3,DONNA ARMSTRONG,DONNACENTER,546 E 32ND ST,CHICAGO,IL,60616,...,2205845,RENEW,4/15/18,12/31/18,N,6/16/18,2/15/21,12/31/18,12/31/18,AAI
4,2488830-20181116,2625726,409881,1,THE PISOLINO CORPORATION,PISOLINO,2755 W BELMONT AVE 1,CHICAGO,IL,60618,...,2488830,RENEW,9/15/18,12/30/18,N,11/16/18,2/15/21,12/30/18,12/31/18,AAI

### Create new data with select columns and group

In [21]:
new_licenses_data_df = licenses_data_df[['LEGAL NAME','ZIP CODE', 'LICENSE DESCRIPTION', 'DATE ISSUED']].copy()
new_licenses_data_df.head()

,LEGAL NAME,ZIP CODE,LICENSE DESCRIPTION,DATE ISSUED
0,THE PISOLINO CORPORATION,60618,Consumption on Premises - Incidental Activity,12/31/18
1,"D.C. MAD HATTER, INC.",60609,Limited Business License,12/31/18
2,DENMAX CORP.,60622,Limited Business License,12/31/18
3,DONNA ARMSTRONG,60616,Regulated Business License,12/31/18
4,THE PISOLINO CORPORATION,60618,Retail Food Establishment,12/31/18

In [28]:
#groupby license type
grouped_licenses_df = new_licenses_data_df.groupby(['LICENSE DESCRIPTION', 'ZIP CODE', 'LEGAL NAME', 'DATE ISSUED'])
print(grouped_licenses_df)
grouped_licenses_df.count().head(40)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fe8a0d03df0>

Empty DataFrame
Columns: []
Index: [(Accessory Garage, 60601.0, 161 NORTH  CLARK, LP, 8/19/15), (Accessory Garage, 60601.0, 400 CONDOMINIUM ASSOCIATION, 3/10/17), (Accessory Garage, 60601.0, 400 CONDOMINIUM ASSOCIATION, 3/27/14), (Accessory Garage, 60601.0, 400 CONDOMINIUM ASSOCIATION, 8/14/14), (Accessory Garage, 60601.0, 77 West Wacker Drive, L.L.C., 8/1/14), (Accessory Garage, 60601.0, 77 West Wacker Drive, L.L.C., 8/30/16), (Accessory Garage, 60601.0, ABM INDUSTRY GROUPS, LLC, 6/19/15), (Accessory Garage, 60601.0, ABM INDUSTRY GROUPS, LLC, 8/7/17), (Accessory Garage, 60601.0, ENCORE HOSPITALITY SERVICES LLC, 8/31/15), (Accessory Garage, 60601.0, IMPERIAL PARKING (U.S.), LLC, 11/13/17), (Accessory Garage, 60601.0, IMPERIAL PARKING (U.S.), LLC, 3/7/14), (Accessory Garage, 60601.0, IMPERIAL PARKING (U.S.), LLC, 8/28/15), (Accessory Garage, 60601.0, KAN MANAGEMENT CORPORATION, 8/12/14), (Accessory Garage, 60601.0, KAN MANAGEMENT CORPORATION, 8/15/16), (Accessory Garage, 60601.0, LAZ PARKING CHICAGO, LLC, 6/15/17), (Accessory Garage, 60601.0, SP PLUS CORPORATION, 10/1/14), (Accessory Garage, 60601.0, SP PLUS CORPORATION, 10/8/15), (Accessory Garage, 60601.0, SP PLUS CORPORATION, 3/13/15), (Accessory Garage, 60601.0, SP PLUS CORPORATION, 3/13/17), (Accessory Garage, 60601.0, SP PLUS CORPORATION, 3/14/17), (Accessory Garage, 60601.0, SP PLUS CORPORATION, 3/15/17), (Accessory Garage, 60601.0, SP PLUS CORPORATION, 3/19/15), (Accessory Garage, 60601.0, SP PLUS CORPORATION, 3/9/17), (Accessory Garage, 60601.0, SP PLUS CORPORATION, 6/8/16), (Accessory Garage, 60601.0, SP PLUS CORPORATION, 8/23/16), (Accessory Garage, 60602.0, LAZ PARKING CHICAGO, LLC, 2/21/14), (Accessory Garage, 60602.0, LAZ PARKING CHICAGO, LLC, 4/14/17), (Accessory Garage, 60602.0, LAZ PARKING CHICAGO, LLC, 4/6/15), (Accessory Garage, 60602.0, MB REAL ESTATE SERVICES INC., 3/13/14), (Accessory Garage, 60602.0, MB REAL ESTATE SERVICES INC., 9/14/16), (Accessory Garage, 60602.0, MB REAL ESTATE SERVICES INC., 9/24/14), (Accessory Garage, 60602.0, SP PLUS CORPORATION, 3/13/15), (Accessory Garage, 60602.0, SP PLUS CORPORATION, 3/14/17), (Accessory Garage, 60603.0, ABM INDUSTRY GROUPS, LLC, 6/19/15), (Accessory Garage, 60603.0, ABM INDUSTRY GROUPS, LLC, 8/7/17), (Accessory Garage, 60603.0, ADDIS PARKING & VALET, LLC, 12/23/14), (Accessory Garage, 60603.0, ADDIS PARKING & VALET, LLC, 12/30/16), (Accessory Garage, 60603.0, CENTRAL PARKING SYSTEM, INC., 3/30/15), (Accessory Garage, 60603.0, INTERPARK LLC, 6/18/14), (Accessory Garage, 60603.0, INTERPARK LLC, 8/11/16)]

### Connect to local database

In [26]:
rds_connection_string = "<postgres:huffhuff@localhost:5432/business_licenses_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for Tables

### Use pandas to load csv converted dataframe into database