In [51]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into a Dataframe

In [52]:
csv_file = "./Resources/licenses_data.csv"
licenses_data_df = pd.read_csv(csv_file)
licenses_data_df.head()

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,DOING BUSINESS AS NAME,ADDRESS,CITY,STATE,ZIP CODE,...,LICENSE NUMBER,APPLICATION TYPE,APPLICATION REQUIREMENTS COMPLETE,PAYMENT DATE,CONDITIONAL APPROVAL,LICENSE TERM START DATE,LICENSE TERM EXPIRATION DATE,LICENSE APPROVED FOR ISSUANCE,DATE ISSUED,LICENSE STATUS
0,2488875-20190116,2635860.0,409881.0,1.0,THE PISOLINO CORPORATION,PISOLINO,2755 W BELMONT AVE 1,CHICAGO,IL,60618.0,...,2488875.0,RENEW,11/15/18,12/30/18,N,1/16/19,2/15/21,12/30/18,12/31/18,AAI
1,2641783-20181231,2641783.0,357055.0,3.0,"D.C. MAD HATTER, INC.","D.C. MAD HATTER, INC.",1200 W 35TH ST 5TH 5400,CHICAGO,IL,60609.0,...,2641783.0,C_LOC,12/31/18,12/31/18,N,12/31/18,2/15/21,12/31/18,12/31/18,AAI
2,1819083-20181116,2624618.0,316764.0,1.0,DENMAX CORP.,DENMAX CORP.,2702 W CHICAGO AVE 1ST,CHICAGO,IL,60622.0,...,1819083.0,RENEW,9/15/18,12/28/18,N,11/16/18,2/15/21,12/28/18,12/31/18,AAI
3,2205845-20180616,2591692.0,218232.0,3.0,DONNA ARMSTRONG,DONNACENTER,546 E 32ND ST,CHICAGO,IL,60616.0,...,2205845.0,RENEW,4/15/18,12/31/18,N,6/16/18,2/15/21,12/31/18,12/31/18,AAI
4,2488830-20181116,2625726.0,409881.0,1.0,THE PISOLINO CORPORATION,PISOLINO,2755 W BELMONT AVE 1,CHICAGO,IL,60618.0,...,2488830.0,RENEW,9/15/18,12/30/18,N,11/16/18,2/15/21,12/30/18,12/31/18,AAI

### Create new data with select columns and group

In [53]:
new_licenses_data_df = licenses_data_df[['LEGAL NAME','ZIP CODE', 'LICENSE DESCRIPTION', 'DATE ISSUED']].copy()
new_licenses_data_df.head()

,LEGAL NAME,ZIP CODE,LICENSE DESCRIPTION,DATE ISSUED
0,THE PISOLINO CORPORATION,60618.0,Consumption on Premises - Incidental Activity,12/31/18
1,"D.C. MAD HATTER, INC.",60609.0,Limited Business License,12/31/18
2,DENMAX CORP.,60622.0,Limited Business License,12/31/18
3,DONNA ARMSTRONG,60616.0,Regulated Business License,12/31/18
4,THE PISOLINO CORPORATION,60618.0,Retail Food Establishment,12/31/18

### Connect to local database

In [54]:
rds_connection_string = "<postgres:huffhuff@localhost:5432/business_licenses_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for Tables

### Use pandas to load csv converted dataframe into database